
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gumela;
    scroll-behavior: smooth;
    color-scheme: dark;
  }
html{
    background-color: black;

}
.bg-white-gray{
  background: linear-gradient(to bottom, #767675,white );
   -webkit-background-clip: text;
   -moz-background-clip: text;
   background-clip: text;
   color: transparent; 
}
.color-textShadow{
  text-shadow: black 1px 1px 10px ;
}
#hero-threejs{
  /* background: radial-gradient(ellipse at top, #1b2735 0%,#090a0f 100%); */
  /* background: radial-gradient(ellipse at top, #16202c 10%,#0000 100%); */
  background: radial-gradient(ellipse at top, #162b44 10%,#0000 100%);
}
