
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gumela;
    scroll-behavior: smooth;
    color-scheme: dark;
  }
html{
  background: radial-gradient(ellipse at top, #162b44 10%,#0000 60%);
}
.bg-white-gray{
  background: linear-gradient(to bottom, #767675,white );
   -webkit-background-clip: text;
   -moz-background-clip: text;
   background-clip: text;
   color: transparent; 
}
.color-textShadow{
  text-shadow: black 1px 1px 10px ;
}
.bg-rays{
  background: radial-gradient(ellipse at top, #162b44 10%,#0000 60%);

}
.bg-tansparent{
  /* background:; */
  backdrop-filter: blur(10px); 
}